<%= form_tag({ :controller => :dictionary, :action => :search } , :method => "get", :class => "form-horizontal") do %>
  <%= field_set_tag do %>
    <div class="control-group">
      <%= label_tag(:tiles, "Tiles", :class=> 'control-label') %>
      <div class="controls">
        <div class="input-append">
          <%= text_field_tag(:tiles, tiles, :pattern => '^[a-zA-Z ]{1,7}$', :placeholder => "AA BCDE", :class => "input-xlarge") %>
          <span class="add-on"><a class="help-box" href="#" data-placement="right" data-trigger="manual" title="Tile Search" data-content="Search for words that can be made with your tiles. Enter them as you see them on your screen/tray. Spaces for blank tiles."><i class="icon-question-sign"></i></a></span>
        </div>
        <div class="touch-help">
          <span class="help-block">Search for words that can be made with your tiles. Enter them as you see them on your screen/tray. Spaces for blank tiles.</span>
        </div>
      </div>
    </div>
    
    <div class="control-group controls-row">
      <%= label_tag(:mask, "Space on board", :class=> 'control-label') %>
      <div class="controls">
        <div class="input-append">
          <%= text_field_tag(:mask, mask, :pattern => '^[a-zA-Z?!*]*$', :placeholder => "????R!", :class => "input-xlarge" ) %>
          <span class="add-on"><a class="help-box" title="Space on board" data-placement="right" data-trigger="manual" href="#" data-content="Only return words that match this pattern. Type '?' for a blank space on the board. A letter for a tile already placed. Type '!' for a space that you need to fill. Type '*' for an infinite number of spaces."><i class="icon-question-sign"></i></a></span>
        </div>
        <div class="touch-help">
          <span class="help-block">Only return words that match this pattern. Type '?' for a blank space on the board. A letter for a tile already placed. Type '!' for a space that you need to fill. Type '*' for an infinite number of spaces.</span>
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= submit_tag("Search", :class => 'btn btn-primary') %>
      </div>
    </div>
  <% end %>
<% end %>
