<%= form_tag({ :controller => :dictionary, :action => :search } , :method => "get") do %>
  <%= field_set_tag do %>
    <%= label_tag(:tiles, "Tiles") %>
    <%= text_field_tag(:tiles, tiles, :pattern => '^[a-zA-Z ]{1,7}$', :placeholder => "AA BCDE" ) %>
    <%= label_tag(:mask, "Space on board") %>
    <%= text_field_tag(:mask, mask, :pattern => '^[a-zA-Z?!*]*$', :placeholder => "????R!" ) %>
    <%= submit_tag("Search", :class => 'btn') %>
  <% end %>
  <div class="help">
    <ul>
      <li>Spaces represent blank tiles</li>
      <li>Type "?" for a blank space on the board</li>
      <li>A letter for a tile already placed</li>
      <li>Type "!" for a space that you need to fill (like that triple word score)</li>
      <li>Type "*" for an infinite number of spaces. Case insensitive.</li>
    </ul>
  </div>
<% end %>
