<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= form_tag("/dictionary", :method => "get") do %>
  <%= label_tag(:tiles, "Tiles") %>
  <%= text_field_tag(:tiles) %>
  <%= label_tag(:mask, "Space on board") %>
  <%= text_field_tag(:mask) %>
  <%= submit_tag("Search") %>
<% end %>
