<div class="hero-unit">
  <h1>Results</h1>
  <p>
    <% if(!@tiles.empty? && !@mask.empty?) %>
    Searched for the letters "<%= @tiles  %>" pattern "<%= @mask %>"
    <% elsif(!@tiles.empty? && @mask.empty?) %>
    Searched for the letters "<%= @tiles  %>"
    <% elsif(@tiles.empty? && !@mask.empty?) %>
    Searched for the pattern "<%= @mask %>"
    <% else %>
    Searched for nothing
    <% end %>
  </p>
  <% if @words.nil? || @words.empty? %>
  <p>No Results! <a href="#searchAgain">Try another</a>.</p>
  <% else %>
  <p><a href="#searchAgain">Search Again</a></p>
  <ol>
  <% @words.each do |word| %>
    <li><span class="word"><%=word.to_s %></span><span class="right"><span class="definition"><a target="_blank" href="https://en.wiktionary.org/wiki/<%=u word.to_s.downcase %>" title="Read definition"><i class="icon-book"></i></a></span><span class="score" title="Unmodified on board score"><%=word.score %></span></span></li>
  <% end %>
  </ol>
  <% end %>
  <hr id="searchAgain" />
  <%= render :partial => "shared/searchbox", :locals => {:tiles => @tiles, :mask => @mask} %>
</div>
