<h1>Results</h1>
<% if @words.empty? %>
<p>No Results! Try another.</p>
<% else %>
<ol>
<% @words.each do |word| %>
  <li><span class="word"><%=word.to_s %></span><span class="score"><%=word.score %></span></li>
<% end %>
</ol>
<% end %>
<hr />
<%= form_tag("/dictionary", :method => "get") do %>
  <%= label_tag(:tiles, "Tiles") %>
  <%= text_field_tag(:tiles, "", :required => true, :pattern => '^[a-zA-Z ]{1,7}$', :placeholder => "AA BCDE" ) %>
  <%= label_tag(:mask, "Space on board") %>
  <%= text_field_tag(:mask, "", :pattern => '^[a-zA-Z?!]*$', :placeholder => "????R!" ) %>
  <p>Type "?" for a blank space on the board, a letter for a tile already placed, and "!" for a space need to fill (like that triple word score).</p>
  <%= submit_tag("Search") %>
<% end %>
